body, html {
    margin: 0;
    padding: 0;
    height: 100%;
  }
  
  .unauthorized-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #f8f9fa; /* Light gray background */
  }
  
  .content {
    text-align: center;
    animation: slideIn 0.5s ease forwards;
  }
  
  h2 {
    font-size: 2em;
    color: #dc3545; /* Red color for the title */
    margin-bottom: 10px;
  }
  
  p {
    font-size: 1.2em;
    margin-bottom: 20px;
  }
  
  a {
    text-decoration: none;
    color: #007bff; /* Blue color for the link */
    transition: color 0.3s ease;
  }
  
  a:hover {
    color: #0056b3; /* Darker blue color on hover */
  }
  
  @keyframes slideIn {
    from {
      transform: translateY(-50px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  