.sidenav-container {
  height: 100%;
}

.sidenav {
  width: fit-content;/* Ensure sidenav takes full width of its container */
}

.mat-toolbar {
  background: #172a3e;
  color: rgb(255, 254, 254);
}

.center-align {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.mat-list-item {
  padding: 8px; /* Adjust padding around list items as needed */
}
.mat-icon {
  -webkit-user-select: none;
  user-select: none;
  background-repeat: no-repeat;
  display: inline-block;
  fill: currentColor;
  height: 30px;
  width: 30px;
  font-size: 30px;
  overflow: hidden;
}
