<div>
  <h2>Recommendations for Roll Number {{ rollNumber }}</h2>
  <ul>
    <li *ngFor="let recommendation of recommendations">
      {{recommendation.RecommendationNumber}} {{ recommendation.Recommendation }}
      <button (click)="deleteRecommendation(recommendation.RecommendationNumber)" *ngIf="this.authService.getRole() === 'admin'">Delete</button>
    </li>
  </ul>
</div>
<div *ngIf="this.authService.getRole() === 'admin'">
<div  >
  <h3>Add Recommendation</h3>
  <input type="text" #newRecommendation>
  <button (click)="addRecommendation(newRecommendation.value)">Add</button>
</div>

<div>
  <h3>Delete All Recommendations</h3>
  <button class="delete-all" (click)="deleteAllRecommendations()">Delete All</button>
</div>
</div>