
<h3>Recommendations:</h3>
<ul>
  <li *ngFor="let recommendation of recommendations">{{ recommendation }}</li>
</ul>

<h3>Apptitude Resources:</h3>
<div class="market-shelf">
  <div class="resource-item">
    <iframe width="100%" height="100%" src="https://www.youtube.com/embed/hlyal4sR0m8?si=mpyzEn7xYyMB-dCQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
  </div>
  <div class="resource-item">
    <iframe width="100%" height="100%" src="https://www.youtube.com/embed/tnc9ojITRg4?si=yCzSnROWMQqJsZua" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
  </div>
  <div class="resource-item">
    <iframe width="100%" height="100%" src="https://www.youtube.com/embed/YerFp7SPOE8?si=R1Wf6PUZ-k-vcHXr" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
  </div>
  <div class="resource-item">
    <iframe width="100%" height="100%" src="https://www.youtube.com/embed/B-QN7E8F7lg?si=0nzTA1tOZh0FMWNo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
  </div>
  <div class="resource-item">
    <iframe width="100%" height="100%" src="https://www.youtube.com/embed/AsYnEfOMs8I?si=GPMxU-tU5dSN7IhG" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
  </div>
</div>

<h3>Logical Resources:</h3>
<div class="market-shelf">
  <div class="resource-item">
    <iframe width="100%" height="100%" src="https://www.youtube.com/embed/x0WkptLF6oE?si=dofyiL3yldcHTc92" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
  </div>
  <div class="resource-item">
    <iframe width="100%" height="100%" src="https://www.youtube.com/embed/ckpplQNxPh4?si=N_BmphfO9cymngxt" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
  </div>
  <div class="resource-item">
    <iframe width="100%" height="100%" src="https://www.youtube.com/embed/uqoNNxLunis?si=OmYiCiNq5qg-z3h3" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
  </div>
  <div class="resource-item">
    <iframe width="100%" height="100%" src="https://www.youtube.com/embed/Uo2yNiadkzM?si=xKZFKi9kG4sDLEko" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
  </div>
  <div class="resource-item">
    <iframe width="100%" height="100%" src="https://www.youtube.com/embed/MN59wbtTF_U?si=VeeEE8O4omHVtCiN" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
  </div>
</div>

<h3>Communication Resources:</h3>
<div class="market-shelf">
  <div class="resource-item">
    <iframe width="100%" height="100%" src="https://www.youtube.com/embed/bHvAaXp46hg?si=lhqRUMHenXyYNfCi" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
  </div>
  <div class="resource-item">
    <iframe width="100%" height="100%" src="https://www.youtube.com/embed/srn5jgr9TZo?si=JoUDcGXEZb9UlHgo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
  </div>
  <div class="resource-item">
    <iframe width="100%" height="100%" src="https://www.youtube.com/embed/onldWh9n8e4?si=5BJGn_b7nn6_Ch-M" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
  </div>
  <div class="resource-item">
    <iframe width="100%" height="100%" src="https://www.youtube.com/embed/2OBewm5guJk?si=d9fuDOP9vw0APFCu" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
  </div>
  <div class="resource-item">
    <iframe width="100%" height="100%" src="https://www.youtube.com/embed/W-4IcNJIyM8?si=4e6rySr4v_zKbLos" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
  </div>
</div>